---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <script src="https://unpkg.com/@barba/core"></script>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <!-- jsdelivr -->
    <script src="https://cdn.jsdelivr.net/npm/@barba/core"></script>
    <meta
      name="description"
      content="Découvrez le portfolio d'Antoine Brunet, étudiant en Bachelor Multimédia et Internet, spécialisé en design graphique, branding et développement web. Explorez ses créations et projets, mêlant créativité et expertise technique."
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
  </head>
</html>
<body>
  <section id="barba-wrapper" data-barba="wrapper">
    <div
      class="barba-container"
      data-barba="container"
      data-barba-namespace="home"
    >
      <section class="home">
        <div
          class="home__left barba-container"
          id="left-section"
          data-barba="container"
          data-barba-namespace="page-gauche"
        >
          <svg
            id="Calque_1"
            data-name="Calque 1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 100.23 57.61"
            class="home__svg"
          >
            <g>
              <path
                class="cls-2"
                d="M18.74,25.24c.41-.71.98-1.27,1.72-1.69.73-.42,1.55-.63,2.45-.63h.48c.76,0,1.46.15,2.1.45.65.3,1.19.72,1.63,1.26s.74,1.15.91,1.84l-.59.12c-.35-.43-.88-.77-1.59-1.03s-1.5-.4-2.36-.4h-.69c-.78,0-1.51.11-2.17.33-.66.22-1.19.51-1.59.88s-.59.78-.59,1.22.2.84.59,1.21c.4.37.93.66,1.59.88.66.22,1.39.33,2.17.33h.69c.86,0,1.65-.13,2.36-.4s1.25-.61,1.59-1.03l.59.11c-.17.68-.47,1.29-.91,1.82-.43.54-.97.96-1.62,1.26-.65.31-1.35.46-2.12.46h-.48c-.9,0-1.72-.21-2.44-.63-.73-.42-1.3-.98-1.72-1.69-.42-.71-.63-1.49-.63-2.33s.21-1.63.62-2.34Z"
              ></path>
              <path class="cls-2" d="M28.81,23.1h.37v6.7h6.62v2.23h-6.99v-8.93Z"
              ></path>
              <path
                class="cls-2"
                d="M42.78,23.1l4.18,8.93h-.41l-1.49-3.19h-5.07l-1.53,3.19h-2.35l4.31-8.93h2.35ZM40.17,28.48h4.71l-2.32-4.94-2.39,4.94Z"
              ></path>
              <path
                class="cls-2"
                d="M51.03,22.92c1.22,0,2.24.31,3.08.92s1.41,1.5,1.72,2.65l-.54.1c-.48-.54-1.06-.91-1.72-1.12s-1.41-.31-2.23-.31h-.69c-.53,0-1.09.05-1.68.15-.59.1-1.1.25-1.51.47-.42.21-.63.48-.63.8,0,.19.09.34.27.45.18.11.48.19.91.25.43.06,1.03.08,1.79.08h3.46c.62,0,1.16.09,1.63.26.46.17.69.53.69,1.08,0,.59-.18,1.17-.55,1.71-.37.55-.88.98-1.55,1.31-.67.33-1.43.5-2.29.5-2.61,0-4.26-1.19-4.94-3.57l.52-.1c.54.54,1.12.91,1.73,1.13.61.22,1.35.33,2.24.33h.69c.54,0,1.11-.06,1.69-.17.58-.11,1.07-.27,1.47-.49s.6-.48.6-.78c0-.26-.15-.46-.44-.58-.29-.12-.67-.2-1.12-.23-.45-.03-1.08-.04-1.89-.04h-2.85c-.75,0-1.35-.08-1.81-.25-.45-.17-.68-.5-.68-1.01,0-.43.16-.93.48-1.47.32-.55.83-1.03,1.52-1.44.69-.41,1.56-.61,2.61-.61Z"
              ></path>
              <path
                class="cls-2"
                d="M61.11,22.92c1.22,0,2.24.31,3.08.92s1.41,1.5,1.72,2.65l-.54.1c-.48-.54-1.06-.91-1.72-1.12s-1.41-.31-2.23-.31h-.69c-.53,0-1.09.05-1.68.15-.59.1-1.1.25-1.51.47-.42.21-.63.48-.63.8,0,.19.09.34.27.45.18.11.48.19.91.25.43.06,1.03.08,1.79.08h3.46c.62,0,1.16.09,1.63.26.46.17.69.53.69,1.08,0,.59-.18,1.17-.55,1.71-.37.55-.88.98-1.55,1.31-.67.33-1.43.5-2.29.5-2.61,0-4.26-1.19-4.94-3.57l.52-.1c.54.54,1.12.91,1.73,1.13.61.22,1.35.33,2.24.33h.69c.54,0,1.11-.06,1.69-.17.58-.11,1.07-.27,1.47-.49s.6-.48.6-.78c0-.26-.15-.46-.44-.58-.29-.12-.67-.2-1.12-.23-.45-.03-1.08-.04-1.89-.04h-2.85c-.75,0-1.35-.08-1.81-.25-.45-.17-.68-.5-.68-1.01,0-.43.16-.93.48-1.47.32-.55.83-1.03,1.52-1.44.69-.41,1.56-.61,2.61-.61Z"
              ></path>
              <path
                class="cls-2"
                d="M68.21,21.2c0,.28-.1.52-.3.72s-.44.3-.72.3-.52-.1-.72-.3-.3-.44-.3-.72.1-.53.3-.73.44-.3.72-.3.52.1.72.3.3.44.3.73ZM67.36,23.1v8.93h-.37v-8.93h.37Z"
              ></path>
              <path
                class="cls-2"
                d="M69.08,25.24c.41-.71.98-1.27,1.72-1.69.73-.42,1.55-.63,2.45-.63h.48c.76,0,1.46.15,2.1.45.65.3,1.19.72,1.63,1.26s.74,1.15.91,1.84l-.59.12c-.35-.43-.88-.77-1.59-1.03s-1.5-.4-2.36-.4h-.69c-.78,0-1.51.11-2.17.33-.66.22-1.19.51-1.59.88s-.59.78-.59,1.22.2.84.59,1.21c.4.37.93.66,1.59.88.66.22,1.39.33,2.17.33h.69c.86,0,1.65-.13,2.36-.4s1.25-.61,1.59-1.03l.59.11c-.17.68-.47,1.29-.91,1.82-.43.54-.97.96-1.62,1.26-.65.31-1.35.46-2.12.46h-.48c-.9,0-1.72-.21-2.44-.63-.73-.42-1.3-.98-1.72-1.69-.42-.71-.63-1.49-.63-2.33s.21-1.63.62-2.34Z"
              ></path>
            </g>
            <line class="cls-1" x1="8.07" y1="15.95" x2="35.97" y2="15.95"
            ></line>
            <line class="cls-1" x1="65.74" y1="40.27" x2="93.64" y2="40.27"
            ></line>
            <line class="cls-1" x1="84.01" y1="6.13" x2="84.01" y2="34.03"
            ></line>
            <line class="cls-1" x1="14.1" y1="24.46" x2="14.1" y2="52.36"
            ></line>
            <circle class="cls-1" cx="5.32" cy="52.36" r="3.71"></circle>
            <circle class="cls-1" cx="92" cy="6.13" r="3.71"></circle>
            <circle class="filled-shape" cx="80.08" cy="6.13" r="1.67"></circle>
            <circle class="filled-shape" cx="18.37" cy="52.36" r="1.67"
            ></circle>
            <rect class="cls-1" x="89.84" y="45.61" width="7.6" height="7.6"
            ></rect>
            <rect
              class="filled-shape"
              x="92"
              y="34.21"
              width="3.29"
              height="3.29"></rect>
            <rect
              class="filled-shape"
              x="6.42"
              y="18.43"
              width="3.29"
              height="3.29"></rect>
            <rect class="cls-1" x="4.27" y="3.73" width="7.6" height="7.6"
            ></rect>
          </svg>
          <a href="/classic" class="classic__btn"
            ><svg
              id="Calque_1"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 150.66 123.93"
              class="svg__btn-home"
            >
              <path
                d="M84.93,120.09c-2.37-2.48-4.53-4.75-7.04-7.38,15.56-15.32,31.28-30.81,47-46.29-.1-.21-.2-.41-.31-.62H5.24v-9.93h119.65c-16.06-15.79-31.78-31.24-47.45-46.64,3.01-2.88,5.32-5.09,7.8-7.47,19.45,19.44,39.17,39.14,59.03,58.99-19.84,19.84-39.5,39.5-59.35,59.34Z"
              ></path>
            </svg> Go Next
          </a>
        </div>

        <div
          class="home__right barba-container"
          id="right-section"
          data-barba="container"
          data-barba-namespace="page-droite"
        >
          <svg
            id="Calque_1"
            data-name="Calque 1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 133.3 83.6"
            class="home__svg"
          >
            <polygon
              class="cls-3"
              points="107.64 19.14 106.01 17.15 107.97 15.48 107.83 12.91 110.39 12.72 111.78 10.55 113.97 11.9 116.37 10.97 117.35 13.35 119.84 14 119.23 16.5 120.86 18.49 118.9 20.16 119.05 22.73 116.48 22.92 115.09 25.09 112.9 23.74 110.5 24.67 109.52 22.29 107.03 21.64 107.64 19.14"
            ></polygon>
            <polygon
              class="cls-3"
              points="14.1 71.62 13.32 70.66 14.26 69.86 14.19 68.62 15.43 68.53 16.1 67.48 17.15 68.13 18.31 67.68 18.78 68.83 19.98 69.14 19.69 70.35 20.48 71.31 19.53 72.11 19.6 73.35 18.36 73.45 17.69 74.49 16.64 73.84 15.48 74.29 15.01 73.14 13.81 72.83 14.1 71.62"
            ></polygon>
            <polygon
              class="filled-shape"
              points="52.47 74.6 51.28 73.15 52.71 71.93 52.6 70.06 54.47 69.92 55.48 68.34 57.08 69.33 58.83 68.64 59.54 70.38 61.35 70.86 60.91 72.68 62.1 74.13 60.67 75.34 60.78 77.22 58.91 77.36 57.89 78.94 56.3 77.95 54.55 78.63 53.84 76.9 52.02 76.42 52.47 74.6"
            ></polygon>
            <polygon
              class="filled-shape"
              points="69.7 22.56 68.92 21.6 69.86 20.79 69.79 19.56 71.03 19.46 71.7 18.42 72.76 19.07 73.91 18.62 74.38 19.77 75.58 20.08 75.29 21.29 76.08 22.25 75.13 23.05 75.2 24.29 73.96 24.38 73.29 25.43 72.24 24.78 71.08 25.23 70.61 24.08 69.41 23.76 69.7 22.56"
            ></polygon>
            <polygon
              class="filled-shape"
              points="121.13 68.26 116.79 68.26 119.86 65.19 119.14 64.48 116.07 67.54 116.07 63.21 115.06 63.21 115.06 67.54 111.99 64.48 111.27 65.19 114.34 68.26 110 68.26 110 69.28 114.34 69.28 111.27 72.34 111.99 73.06 115.06 69.99 115.06 74.33 116.07 74.33 116.07 69.99 119.14 73.06 119.86 72.34 116.79 69.28 121.13 69.28 121.13 68.26"
            ></polygon>
            <polygon
              class="cls-4"
              points="59.28 15.16 49.58 15.16 56.43 8.3 54.83 6.69 47.97 13.55 47.97 3.85 45.7 3.85 45.7 13.55 38.84 6.69 37.24 8.3 44.1 15.16 34.39 15.16 34.39 17.43 44.1 17.43 37.24 24.29 38.84 25.89 45.7 19.03 45.7 28.74 47.97 28.74 47.97 19.03 54.83 25.89 56.43 24.29 49.58 17.43 59.28 17.43 59.28 15.16"
            ></polygon>
            <polygon
              class="cls-4"
              points="87.57 62.79 84.07 62.79 86.55 60.31 85.97 59.73 83.49 62.21 83.49 58.71 82.66 58.71 82.66 62.21 80.18 59.73 79.6 60.31 82.08 62.79 78.57 62.79 78.57 63.62 82.08 63.62 79.6 66.1 80.18 66.68 82.66 64.2 82.66 67.71 83.49 67.71 83.49 64.2 85.97 66.68 86.55 66.1 84.07 63.62 87.57 63.62 87.57 62.79"
            ></polygon>
            <polygon
              class="filled-shape"
              points="16.68 23.96 13.46 23.96 15.73 21.68 15.2 21.15 12.92 23.43 12.92 20.21 12.17 20.21 12.17 23.43 9.89 21.15 9.36 21.68 11.64 23.96 8.41 23.96 8.41 24.71 11.64 24.71 9.36 26.99 9.89 27.52 12.17 25.25 12.17 28.47 12.92 28.47 12.92 25.25 15.2 27.52 15.73 26.99 13.46 24.71 16.68 24.71 16.68 23.96"
            ></polygon>
            <g>
              <path
                class="cls-3"
                d="M33.29,39.62c0,.26-.09.49-.28.68s-.41.28-.68.28-.49-.09-.68-.28-.28-.41-.28-.68.09-.5.28-.69.41-.28.68-.28.49.09.68.28.28.42.28.69ZM32.5,41.4v8.4h-.35v-8.4h.35Z"
              ></path>
              <path
                class="cls-3"
                d="M40.07,42.53l-4.44,7.27h-2.34l5.15-8.4h1.98v7.24l4.44-7.24h1.98v8.4h-.35v-7.27l-4.44,7.27h-1.98v-7.27Z"
              ></path>
              <path
                class="cls-3"
                d="M54.1,42.53l-4.44,7.27h-2.34l5.15-8.4h1.98v7.24l4.44-7.24h1.98v8.4h-.35v-7.27l-4.44,7.27h-1.98v-7.27Z"
              ></path>
              <path
                class="cls-3"
                d="M68.96,47.7v2.1h-7.14v-8.4h7.14v2.1h-6.82v1.93h5.83v.35h-5.83v1.92h6.82Z"
              ></path>
              <path
                class="cls-3"
                d="M78.31,49.72c-.18.18-.39.26-.62.26-.41,0-.75-.08-1.02-.25-.27-.16-.49-.38-.66-.64s-.35-.62-.55-1.06c-.2-.42-.36-.75-.49-.97l-.37-.79h-4.4v3.53h-.35v-8.4h.35s3.96.01,3.96.01c.95,0,1.65.1,2.11.3.45.2.75.52.89.96.14.44.22,1.1.22,1.98-.04.51-.23.91-.58,1.19s-.78.43-1.3.43h-.5l.86,1.79c.17.35.34.65.51.91s.36.43.57.53c-.06-.13-.1-.26-.1-.4,0-.25.09-.46.26-.62s.38-.25.62-.25.45.08.62.25.26.37.26.61-.09.45-.27.62ZM76.56,45.59c.3-.22.46-.53.46-.92s-.17-.69-.51-.88c-.34-.19-.77-.28-1.3-.28h-5.02v2.42h5.29c.42,0,.78-.11,1.08-.34Z"
              ></path>
              <path
                class="cls-3"
                d="M82.76,41.24c1.14,0,2.11.29,2.9.86s1.33,1.41,1.61,2.5l-.5.1c-.46-.5-1-.85-1.62-1.05s-1.32-.29-2.1-.29h-.65c-.5,0-1.02.05-1.58.14-.56.09-1.03.24-1.42.44-.39.2-.59.45-.59.76,0,.18.08.32.25.42.17.1.45.18.86.23.4.05.97.08,1.69.08h3.25c.58,0,1.09.08,1.53.25.44.16.65.5.65,1.01,0,.56-.17,1.1-.52,1.61-.34.51-.83.92-1.46,1.24-.63.31-1.35.47-2.15.47-2.46,0-4-1.12-4.64-3.36l.49-.1c.51.5,1.05.86,1.63,1.06.57.2,1.27.31,2.11.31h.65c.51,0,1.04-.05,1.59-.16.55-.1,1.01-.26,1.39-.46s.56-.45.56-.74c0-.25-.14-.43-.41-.55-.28-.12-.63-.19-1.05-.22-.42-.03-1.02-.04-1.78-.04h-2.68c-.7,0-1.27-.08-1.7-.23-.43-.16-.64-.47-.64-.95,0-.41.15-.87.45-1.39.3-.52.78-.97,1.43-1.35.65-.38,1.47-.58,2.45-.58Z"
              ></path>
              <path
                class="cls-3"
                d="M89.44,39.62c0,.26-.09.49-.28.68s-.41.28-.68.28-.49-.09-.68-.28-.28-.41-.28-.68.09-.5.28-.69.41-.28.68-.28.49.09.68.28.28.42.28.69ZM88.64,41.4v8.4h-.35v-8.4h.35Z"
              ></path>
              <path
                class="cls-3"
                d="M95.73,45.77h-5.48v4.02h-.34v-8.39h6.79v2.1h-6.46v1.92h5.48v.35Z"
              ></path>
            </g>
            <path
              class="cls-4"
              d="M121.02,28.08c0,4.76-3.87,8.63-8.62,8.63-3.75,0-6.95-2.4-8.13-5.75-.1-.28-.19-.56-.26-.85-.16-.65-.24-1.33-.24-2.03,0-4.2-3.42-7.63-7.63-7.63s-7.63,3.43-7.63,7.63h-1c0-4.76,3.87-8.63,8.63-8.63,3.75,0,6.95,2.4,8.13,5.75.1.28.19.56.26.85.16.65.24,1.33.24,2.03,0,4.21,3.42,7.63,7.63,7.63s7.62-3.42,7.62-7.63h1Z"
            ></path>
            <path
              class="cls-4"
              d="M108.15,77.48c-4.76,0-8.63-3.87-8.63-8.62,0-3.75,2.4-6.95,5.75-8.13.28-.1.56-.19.85-.26.65-.16,1.33-.24,2.03-.24,4.2,0,7.63-3.42,7.63-7.63s-3.43-7.63-7.63-7.63v-1c4.76,0,8.63,3.87,8.63,8.63,0,3.75-2.4,6.95-5.75,8.13-.28.1-.56.19-.85.26-.65.16-1.33.24-2.03.24-4.21,0-7.63,3.42-7.63,7.63s3.42,7.62,7.63,7.62v1Z"
            ></path>
            <path
              class="cls-4"
              d="M7.27,65.01c0-4.76,3.87-8.63,8.62-8.63,3.75,0,6.95,2.4,8.13,5.75.1.28.19.56.26.85.16.65.24,1.33.24,2.03,0,4.2,3.42,7.63,7.63,7.63s7.63-3.43,7.63-7.63h1c0,4.76-3.87,8.63-8.63,8.63-3.75,0-6.95-2.4-8.13-5.75-.1-.28-.19-.56-.26-.85-.16-.65-.24-1.33-.24-2.03,0-4.21-3.42-7.63-7.63-7.63s-7.62,3.42-7.62,7.63h-1Z"
            ></path>
            <path
              class="cls-4"
              d="M21.18,16.29c4.76,0,8.63,3.87,8.63,8.62,0,3.75-2.4,6.95-5.75,8.13-.28.1-.56.19-.85.26-.65.16-1.33.24-2.03.24-4.2,0-7.63,3.42-7.63,7.63s3.43,7.63,7.63,7.63v1c-4.76,0-8.63-3.87-8.63-8.63,0-3.75,2.4-6.95,5.75-8.13.28-.1.56-.19.85-.26.65-.16,1.33-.24,2.03-.24,4.21,0,7.63-3.42,7.63-7.63s-3.42-7.62-7.63-7.62v-1Z"
            ></path>
          </svg>
          <a href="https://immersif.antoine-brunet.com" class="classic__btn"
            ><svg
              id="Calque_1"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 150.66 123.93"
              class="svg__btn-home"
            >
              <path
                d="M84.93,120.09c-2.37-2.48-4.53-4.75-7.04-7.38,15.56-15.32,31.28-30.81,47-46.29-.1-.21-.2-.41-.31-.62H5.24v-9.93h119.65c-16.06-15.79-31.78-31.24-47.45-46.64,3.01-2.88,5.32-5.09,7.8-7.47,19.45,19.44,39.17,39.14,59.03,58.99-19.84,19.84-39.5,39.5-59.35,59.34Z"
              ></path>
            </svg> Go Next
          </a>
        </div>
      </section>
    </div>
  </section>

  <script>
    import "../scripts/home.js";
  </script>
</body>
