---

---

<section class="about" id="about">
  <article class="about__container">
    <h2 class="about__title">
      <span class="termina__about">A</span>BOUT
      <span class="title__span">ME</span>
    </h2>
    <div class="about__img-container">
      <img
        src="/images/MY.webp"
        alt="Photo de Antoine Brunet etudiant en MMI"
        class="about__img"
      />
    </div>
  </article>
  <div class="about__text-container">
    <div class="about__svg-forme1">
      <img
        src="/images/ABOUT-ROSE.svg"
        alt="forme vectorielle"
        class="about__forme1"
      />
    </div>
    <article class="about__text">
      <h2 class="about__text-1 about-1">
        Je suis <span class="span__about-text">Antoine Brunet</span>, étudiant
        en <span class="span__about-text">BUT MMI</span> à
        <span class="span__about-text">Limoges</span>, passionné par le
        <span class="span__about-text">multimédia</span> et l'apprentissage continu.
      </h2>
      <h2 class="about__text-1 about-2">
        Avec rigueur et <span class="span__about-text">créativité</span>, je
        réalise des projets qui allient
        <span class="span__about-text">technique</span> et innovation, tout en valorisant
        le travail d'équipe et la communication.
      </h2>
      <h2 class="about__text-1 about-3">
        Mon objectif est de me spécialiser dans le
        <span class="span__about-text">web</span> et de devenir un
        <span class="span__about-text">professionnel qualifié</span>, apportant
        des contributions uniques au domaine
        <span class="span__about-text">digital</span>.
      </h2>
    </article>
    <div class="about__svg-forme2">
      <img
        src="/images/ABOUT-FLEUR.svg"
        alt="forme vectorielle"
        class="about__forme2"
      />
    </div>
  </div>
</section>
