---

---

<section class="head background-section" id="head" style="z-index: 10;">
  <section class="header">
    <article class="header__top">
      <h1 class="header__title header__Termina">P</h1>
      <img
        src="/images/FORME-JAUNE.svg"
        alt="engrenage qui represente le cote développement"
        class="header__img"
      />
      <h2 class="header__title header__Termina">RT</h2>
    </article>
    <article class="header__bottom">
      <h2 class="header__title">FOLI</h2>
      <img
        src="/images/FORME-BLEU.svg"
        alt="fleur qui represente le cote créatif"
        class="header__img"
      />
    </article>
  </section>
  <article class="write__text" id="typed-output"></article>
</section>
<div class="container_mouse" id="scrollDownButton">
  <span class="mouse-btn">
    <span class="mouse-scroll"></span>
  </span>
</div>
<div class="container_mouse-1" id="scrollUpButton">
  <span class="mouse-btn-1">
    <span class="mouse-scroll-1"></span>
  </span>
</div>
<script>
  import "../scripts/svg.js";
</script>
