---

---

<section class="level" id="level">
  <article class="level__container">
    <article class="level__flex">
      <section class="level-1">
        <div class="level-name">
          Veilles artistiques<span class="level__pourcent">30%</span>
        </div>
        <div class="level-bar">
          <div class="level-percentage" data-percentage="30"></div>
        </div>
      </section>
      <section class="level-1">
        <div class="level-name">
          Sport<span class="level__pourcent">50%</span>
        </div>
        <div class="level-bar">
          <div class="level-percentage" data-percentage="50"></div>
        </div>
      </section>
      <section class="level-1">
        <div class="level-name">
          Études<span class="level__pourcent">80%</span>
        </div>
        <div class="level-bar">
          <div class="level-percentage" data-percentage="80"></div>
        </div>
      </section>
      <section class="level-1">
        <div class="level-name">
          Projets Annexes<span class="level__pourcent">70%</span>
        </div>
        <div class="level-bar">
          <div class="level-percentage" data-percentage="70"></div>
        </div>
      </section>
      <section class="level-1">
        <div class="level-name">
          Cinema <span class="level__pourcent">50%</span>
        </div>
        <div class="level-bar">
          <div class="level-percentage" data-percentage="50"></div>
        </div>
      </section>
    </article>
    <h2 class="level__title">
      <span class="termina__interest">I</span>NTERE<span class="level__span"
        >ST</span
      >
    </h2>
  </article>
</section>
