---

---

<section class="pitch background-section">
  <h2 class="pitch__title" id="pitch__JS">
    Le <span class="pitch__title-span">web</span> est un espace où le <span
      class="pitch__title-span">code</span
    > et la <span class="pitch__title-span">créativité</span> se rencontrent pour
    donner vie à des <span class="pitch__title-span">projets uniques</span>,
    mêlant <span class="pitch__title-span">esthétique</span> et <span
      class="pitch__title-span">innovation</span
    > au service d'<span class="pitch__title-span">expériences captivantes</span
    >.
  </h2>
  <div class="circle circle1" id="circle1"></div>
  <div class="circle circle2" id="circle2"></div>
  <div class="circle circle3" id="circle3"></div>
</section>
