---

---

<section class="skills background-section" id="skills">
  <h2 class="skills__title">
    <span class="termina__project">M</span>Y PRO<span class="title__span"
      >JECTS</span
    >
  </h2>
  <article class="skills__content">
    <ul class="skills__ul">
      <li data-content="pro">
        <a class="fancy" href="#skills">
          <span class="top-key"></span>
          <span class="text">Développement</span>
          <span class="bottom-key-1"></span>
          <span class="bottom-key-2"></span>
        </a>
      </li>
      <li data-content="simple">
        <a class="fancy" href="#skills">
          <span class="top-key"></span>
          <span class="text">Graphisme</span>
          <span class="bottom-key-1"></span>
          <span class="bottom-key-2"></span>
        </a>
      </li>
      <li data-content="designer">
        <a class="fancy" href="#skills">
          <span class="top-key"></span>
          <span class="text">Projet Perso</span>
          <span class="bottom-key-1"></span>
          <span class="bottom-key-2"></span>
        </a>
      </li>
      <li data-content="exploration">
        <a class="fancy" href="#skills">
          <span class="top-key"></span>
          <span class="text">UI/UX</span>
          <span class="bottom-key-1"></span>
          <span class="bottom-key-2"></span>
        </a>
      </li>
    </ul>
    <div class="content" id="pro">
      <div class="inte__img">
        <img
          src="/images/IT13SAE205.webp"
          alt="IMG application dragon ball"
          class="imgSAE"
        />
        <article class="info">
          <h2 class="info__title">
            Projet <span class="info__title-span">Tutoré</span>
          </h2>
          <p class="info__text">
            Le projet visait à créer un site dynamique capable d'extraire des
            informations depuis une base de données MySQL. Inspiré par des
            plateformes telles que Netflix et Amazon Prime, ce projet se
            distingue par sa complétude en matière de développement. Il englobe
            à la fois le backend et le frontend, illustrant une intégration
            complète des deux aspects de la programmation web.
          </p>
          <div class="flex__img">
            <img src="/images/CSS-logo.webp" alt="" class="info__img" />
            <img src="/images/HTML-logo.svg" alt="" class="info__img" />
            <img src="/images/JS-logo.svg" alt="" class="info__img" />
          </div>
        </article>
      </div>
    </div>
    <div class="content background-section" id="simple">
      <div class="inte__img">
        <article class="flex__img-2">
          <img
            src="/images/illustrator-1.svg"
            alt="IMG aplication dragon ball"
            class="imgILLUS"
          />
          <img
            src="/images/illustrator-2.svg"
            alt="IMG aplication dragon ball"
            class="imgILLUS"
          />
        </article>
        <article class="info">
          <h2 class="info__title">
            Projet <span class="info__title-span">Stage</span>
          </h2>
          <p class="info__text">
            Ce projet a été conçu dans le cadre d'une candidature pour un stage,
            exigeant une maîtrise approfondie d'Illustrator. Sa complexité
            réside dans la nécessité d'une compétence complète sur ce logiciel.
            Personnellement, j'apprécie énormément ce type de projet car j'ai
            une passion pour le travail sur Illustrator, et il me permet de
            rester constamment en phase d'apprentissage et de développement de
            mes compétences.
          </p>
          <div class="flex__img">
            <img src="/images/IllstratorLogo.webp" alt="" class="info__img" />
          </div>
        </article>
      </div>
    </div>
    <div class="content background-section" id="designer">
      <div class="inte__img">
        <article class="flex__img-1">
          <a href="https://www.a-brunet.mmi-limoges.fr/it-13/" target="_blank">
            <img
              src="/images/Portfolio-Juliette.webp"
              alt="IMG aplication dragon ball"
              class="imgPERSO"
            />
          </a>
        </article>
        <article class="info">
          <h2 class="info__title">
            Projet <span class="info__title-span">Perso</span>
          </h2>
          <p class="info__text">
            Ce projet a été réalisé durant mes vacances d'été, avec pour
            objectif de créer le portfolio d'une étudiante en DN MADE,
            spécialité Design d'objet. Cette expérience m'a beaucoup enseigné
            sur l'essence du design, révélant que l'impact se trouve souvent
            dans les détails subtils et précis. Cette prise de conscience a été
            une partie essentielle de mon apprentissage dans le domaine du
            design.
          </p>
          <div class="flex__img">
            <img src="/images/CSS-logo.webp" alt="" class="info__img" />
            <img src="/images/HTML-logo.svg" alt="" class="info__img" />
            <img src="/images/JS-logo.svg" alt="" class="info__img" />
            <img src="/images/IllstratorLogo.webp" alt="" class="info__img" />
          </div>
        </article>
      </div>
    </div>
    <div class="content background-section" id="exploration">
      <div class="inte__img">
        <article class="flex__img-1">
          <img
            src="/images/DB1.webp"
            alt="IMG aplication dragon ball"
            class="imgINTE"
          />
          <img
            src="/images/DB2.webp"
            alt="IMG aplication dragon ball"
            class="imgINTE"
          />
          <img
            src="/images/DB3.webp"
            alt="IMG aplication dragon ball"
            class="imgINTE"
          />
          <img
            src="/images/DB4.webp"
            alt="IMG aplication dragon ball"
            class="imgINTE"
          />
        </article>
        <article class="info background-section">
          <h2 class="info__title">
            Projet <span class="info__title-span">Tutoré</span>
          </h2>
          <p class="info__text">
            Cette application a été développée dans le cadre d'un projet tutoré.
            L'objectif était de créer une application fonctionnelle dont le
            design s'inspirait de l'univers d'un personnage issu d'une série,
            d'un anime, d'un film, ou d'un jeu vidéo. L'accent était mis sur
            l'immersion dans l'esthétique et l'atmosphère propres à ce
            personnage.
          </p>
          <div class="flex__img">
            <img src="/images/figma-logo.webp" alt="" class="info__img" />
            <img src="/images/IllstratorLogo.webp" alt="" class="info__img" />
          </div>
        </article>
      </div>
    </div>
    <div class="content default background-section" id="content1">
      <div class="content__flex">
        <h2 class="content__default">
          Survole les boutons<svg
            id="Calque_1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 154.06 240.05"
            class="svg__default"
          >
            <defs>
              <style>
                .cls-1 {
                  fill: #a2acd8;
                }
              </style>
            </defs>
            <rect class="cls-1" x="62.53" y="145.44" width="70.9" height="70.9"
            ></rect>
            <path
              d="M77.49,55.48c-1.29,1.61-2.46,3.33-3.89,4.79-7.57,7.69-15.26,15.28-22.8,23.01-1.56,1.6-2.49,1.59-3.94-.03-2.2-2.49-4.56-4.84-6.95-7.15-1.28-1.23-1.12-2.07.09-3.26,11.93-11.81,23.81-23.66,35.7-35.51,3-2.99,5.99-5.99,8.91-9.05,1.18-1.24,2-1.25,3.25,0,14.83,14.89,29.69,29.74,44.61,44.55,1.37,1.36,1.23,2.22-.04,3.45-2.39,2.3-4.75,4.65-6.98,7.12-1.33,1.48-2.22,1.41-3.6,0-8.28-8.41-16.65-16.74-25-25.07-.79-.79-1.68-1.47-3.05-2.66-.1,1.95-.23,3.22-.23,4.49-.01,40.83-.03,81.65.05,122.48,0,2.48-.52,3.22-3.12,3.2-20.44-.12-40.88-.07-61.32-.07h-2.57v-14.75h2.9c15.45,0,30.91-.04,46.36.05,2.21.01,2.97-.44,2.97-2.86-.08-36.59-.05-73.17-.05-109.76,0-.72-.1-1.43-.15-2.15-.38-.28-.75-.56-1.13-.84Z"
            ></path>
          </svg>
        </h2>
      </div>
    </div>
  </article>
</section>
